{% extends "./base_category.html" %}

{% load product_menu_tags %}
{% load product_tags %}


{% block main_sidebar %}
    {% show_sidebar_menu %}
    {% include 'website/inc/_banners.html' %}
{% endblock main_sidebar %}

{% block content %}

{% if categories %}
<div class="row">
    {% show_categories categories 'col-md-3' %}
</div>
{% endif %}

{% if series %}
<div class="row">
    {% for item in series %}
    {% include 'product/inc/_item-series.html' with item=item %}
    {% endfor %}
</div>
{% endif %}

{% endblock content %}