{% extends "./base_category.html" %}
{% load series_tags %}


{% block main %}

<section class="section mb-5">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-md-6">
                {% include 'product/inc/_series-slider.html' with slides=series.get_card_slider %}
                {% include 'product/inc/_tabs-card.html' with items=series %}

            </div>
            <div class="col-md-6">
                <h1 class="h1-title mb-5">{{ series.title }}</h1>
                <div class="card border-0" style="background-color: #F4F4F4;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3">
                            <div class="text-success">В наличии</div>


                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item border-0 p-0 me-3" style="background-color: #F4F4F4;">
                                    {% check_favorites request.session.favorites series 'series' %}
                                </li>
                                <li class="list-group-item border-0 p-0" style="background-color: #F4F4F4;">
                                    <a class="" href="#">
                                        <i class="fa-solid fa-chart-simple"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        {% show_tabs_colors series.pk %}

                        <div class="row">
                            <div class="col-12 mb-3"> Цена: от {{ series.product_price }}</div>
                            <div class="col-xl-4 mb-3" style="height: 50px;">
                                <a href="/klientam/vyzov-menedzhera/" class="btn btn-danger h-100 w-100 d-flex justify-content-center align-items-center">Купить в 1 клик</a>
                            </div>
                            <div class="col-xl-4 mb-3" style="height: 50px;">
                                <a href="/klientam/vyzov-menedzhera/" class="btn btn-outline-danger h-100 w-100 d-flex justify-content-center align-items-center">Прайс-лист</a>
                            </div>
                            <div class="col-xl-4 mb-3" style="height: 50px;">
                                <!--
                                    <a href="/klientam/vyzov-menedzhera/" class="btn btn-outline-danger h-100 w-100 d-flex justify-content-center align-items-center">Нужна консультация?</a>
                                -->
                                {% load ecommerce_tags %}
                                {% show_modal_consultation_btn %}
                            </div>
                        </div>

                        <table class="table table-borderless table-striped mb-3">
                            <tr>
                                <td>Страна-производитель:</td>
                                <td>{{ series.get_country }}</td>
                            </tr>
                            <tr>
                                <td>Срок доставки:</td>
                                <td>{{ series.product_delivery_time }}</td>
                            </tr>
                            <tr>
                                <td>Класс:</td>
                                <td>{{ series.product_class }}</td>
                            </tr>
                            <tr>
                                <td>Код товара:</td>
                                <td>{{ series.product_code }}</td>
                            </tr>
                            <tr>
                                <td>Гарантия:</td>
                                <td>{{ series.product_guarantee }}</td>
                            </tr>
                            <tr>
                                <td>Артикул:</td>
                                <td>{{ series.product_article }}</td>
                            </tr>
                            <tr>
                                <td>Срок производства:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Материал столешницы:</td>
                                <td>пока нет</td>
                            </tr>
                            <tr>
                                <td>Толщина столешницы, мм:</td>
                                <td>{{ series.product_top_table }}</td>
                            </tr>
                        </table>

                        <div class="mb-3">
                            <p><b>Доставка</b></p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="background-color: #F4F4F4;">при заказе свыше 100 000
                                    руб. БЕСПЛАТНО! в пределах МКАД;</li>
                                <li class="list-group-item" style="background-color: #F4F4F4;">при заказе на сумму менее
                                    100 000 руб. стоимость доставки в пределах МКАД составит 1 990 руб.;</li>
                                <li class="list-group-item" style="background-color: #F4F4F4;">доставка мебели за
                                    пределы МКАД осуществляется из расчета 90 руб. за 1 км пути от МКАД;</li>
                                <li class="list-group-item" style="background-color: #F4F4F4;">при заказе услуги
                                    выгрузки и подъёма мебели в офис, стоимость данной услуги рассчитывается
                                    индивидуально вашим персональным менеджером и зависит от объёма и веса груза.</li>
                            </ul>
                        </div>

                        <div class="mb-3">
                            <p><b>Гарантия</b></p>
                            <p>Срок на протяжении которого продукция работает идеально. Столы, кресла, шкафы не
                                коробятся, наполнитель не теряет эластичность, механизмы не заклинивают. Более того, в
                                этот период мебель сохраняет идеальный вид. В зависимости от линейки и изготовителя.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3" style="background-color: #F4F4F4;">
            <div class="col py-3">
                <h2>Элементы серии {{ series.product_article }}</h2>
            </div>
        </div>
        
        {% if products %}        
        <div class="row mb-3">
            {% show_products products series.get_absolute_url request.session.favorites 'col-md-3' %}
        </div>
        {% endif %}
    </div>
</section>

{% endblock main %}