
<div class="nav nav-tabs tabs-properties" id="pills-tab" role="tablist">

        <button class="nav-link active" id="pills-description-tab" data-bs-toggle="pill"
            data-bs-target="#pills-description" type="button" role="tab" aria-controls="pills-description"
            aria-selected="true">
            Описание
        </button>

        <button class="nav-link" id="pills-properties-tab" data-bs-toggle="pill" data-bs-target="#pills-properties"
            type="button" role="tab" aria-controls="pills-properties" aria-selected="false">
            Характеристики
        </button>

    <!--

        <button class="nav-link" id="pills-reviews-tab" data-bs-toggle="pill"
            data-bs-target="#pills-reviews" type="button" role="tab" aria-controls="pills-reviews"
            aria-selected="false">
            Отзывы
        </button>

    -->

        <button class="nav-link" id="pills-delivery-tab" data-bs-toggle="pill" data-bs-target="#pills-delivery"
            type="button" role="tab" aria-controls="pills-delivery" aria-selected="false">
            Доставка
        </button>

        <button class="nav-link" id="pills-payment-tab" data-bs-toggle="pill" data-bs-target="#pills-payment"
            type="button" role="tab" aria-controls="pills-payment" aria-selected="false">
            Оплата
        </button>


        <button class="nav-link" id="pills-guarantee-tab" data-bs-toggle="pill" data-bs-target="#pills-guarantee"
            type="button" role="tab" aria-controls="pills-guarantee" aria-selected="false">
            Гарантии
        </button>

</div>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-description" role="tabpanel"
        aria-labelledby="pills-description-tab">
        <div class="p-3">
            {{ serie.description|safe }}
        </div>
    </div>
    <div class="tab-pane fade" id="pills-properties" role="tabpanel" aria-labelledby="pills-properties-tab">
        <div class="p-3">
            <ul>
                <li>Исполнение: ламинированная ДСП толщиной 18 мм и 22 мм (производство "Kronospan")</li>
                <li>Столы на L-образном металлокаркасе:</li>
                <li>L-образные опоры имеют регулировочные элементы круглой формы;</li>
                <li>Предусмотрена возможность прокладки кабелей внутри опоры;</li>
                <li>Царга - ЛДСП 18 мм. Столешница - ЛДСП 22 мм;</li>
                <li>Столешницы имеют отверстия для кабелей с установленными пластиковыми заглушками серого цвета</li>
                <li>(прямой стол - 2 заглушки, криволинейный стол - 1 заглушка);</li>
                <li>Цвет металлокаркаса - алюминиевый металлик.</li>
                <li>Кромка: толщина 0,4 мм и 2 мм в цвет ЛДСП</li>
                <li>Опоры: регулируемые</li>
                <li>Стекла: тонированные в массе</li>
                <li>Ручки фасадов: металлические</li>
                <li>Цветовое исполнение: Орех Гварнери, Груша Ароза, Серый, Белый, Клен-металлик, Венге-металлик, Венге
                    Цаво, Клен</li>
            </ul>
        </div>
    </div>
    <!--
    <div class="tab-pane fade" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
        <div class="p-3">
        </div>
    </div>
    -->
    <div class="tab-pane fade" id="pills-delivery" role="tabpanel" aria-labelledby="pills-delivery-tab">
        <div class="p-3">
            <p>Доставка осуществляется по Москве, Московской области автотранспортом компании ООО «<a href="/">Офисная
                    мебель АЛЬФА-М</a>», а также по всем регионам России любой удобной транспортной компанией.</p>
            <p>Стоимость доставки офисной мебели:</p>
            <ul>
                <li>при заказе свыше 50 тыс.руб. БЕСПЛАТНО! в пределах МКАД.</li>
                <li>при заказе на сумму менее 50 000 рублей стоимость доставки в пределах МКАД составит 1 490 рублей.
                </li>
                <li>доставка мебели за пределы МКАД осуществляется из расчета 60 рублей за 1 км пути от МКАД.</li>
            </ul>
            <p>Доставка осуществляется до подъезда.</p>
            <p>При заказе услуги выгрузки и подъема мебели в офис, стоимость данной услуги рассчитывается индивидуально
                Вашим персональным менеджером и зависит от объема и веса груза.</p>
            <p>Доставка осуществляется в течение 1-5 рабочих дней с момента прихода денежных средств, при условии ее
                наличия на складе в Москве. В любом случае мы максимально ускоряем срок поставки заказываемой вами
                офисной мебели. Если мебель находится в производстве, то доставка будет осуществлена после полной
                готовности отгрузки Товара. Точный день доставки сообщит менеджер, с которым Вы контактируете. В день
                доставки за 1-2 часа до приезда, Вам позвонят и сообщат точное время подъезда экипажа к месту
                назначения.</p>
            <p>Уважаемые покупатели! Обращаем Ваше внимание, что доставка мебели происходит в рабочие дни с 9-00 и до 19
                часов (возможна доставка в выходные дни по согласованию с менеджером). Убедительно просим Вас заранее
                подготовиться к приемке мебельной продукции - ответственному лицу иметь при себе печать организации или
                доверенность на получение Товара.</p>
            <p>Для доставки будет необходимо указать следующие данные:</p>
            <ul>
                <li>точный адрес доставки;</li>
                <li>этаж, на который нужно поднять мебель;</li>
                <li>наличие лифта;</li>
                <li>Ф.И.О. и контактный телефон ответственного за приемку товара;</li>
                <li>наличие или отсутствие пропускной системы.</li>
            </ul>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">
        <div class="p-3">
            <p>Уважаемые покупатели, обращаем Ваше внимание на то, наша компания работает как с юридическими, так и
                с&nbsp;физическими лицами. Наши цены включают НДС.&nbsp;</p>
            <p>Способы оплаты товара:</p>
            <ul class="fix-style">
                <li>По выставленному счету на расчетный счет нашей организации (Выставляет менеджер ведущий Ваш проект);
                </li>
                <li>Банковской картой по выставленному счету через систему оплаты на сайте;<br> <a
                        href="/payment/"><span style="color:#0000ff;">https://ofisnaya-mebel-alfa-m.ru/payment/</span>
                    </a></li>
                <li>Наличными в офисе компании;</li>
                <li>Банковской картой через PÓS-терминал в офисе компании;</li>
                <li>Электронный платеж (яндекс-деньги, webmoney и пр.), выбрав из списка соответствующий раздел;<br> <a
                        href="/payment/"><span style="color:#0000cd;">https://ofisnaya-mebel-alfa-m.ru/payment/</span>
                    </a></li>
                <li>Обратившись в отделение любого из банков РФ, по выставленному счету. Счет Вы можете получить по
                    электронной почте.</li>
            </ul>
            <p>Товар считается оплаченным по факту поступления соответствующей суммы на банковский счёт нашей
                организации.</p>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-guarantee" role="tabpanel" aria-labelledby="pills-guarantee-tab">
        <div class="p-3">
            Гарантия – период на протяжении которого товар работает идеально. Столы, кресла, шкафы не коробятся,
            наполнитель не высыпается, механизмы не ломаются. Более того, в этот срок мебель сохраняет идеальный вид.
            В зависимости от серии и изготовителя гарантия на Мебель для персонала RIVA составляет срок от 1 года до 10
            лет.
            В течение этого времени любая порча товара компенсируется. Потребитель при выявлении поломок имеет право
            обратиться к продавцу и заменить мебель. Обмен осуществляется за несколько дней, даже если включает доставку
            по России.
            <li>К неисправностям относятся:</li>
            <li>неисправности механизмов;</li>
            <li>дефект отделки мягкой мебели – выгорание на солнце, утрата цвета, износ;</li>
            <li>дефекты корпусной мебели;</li>
            <li>ослабление крепежа;</li>
            <li>слишком быстрый износ при эксплуатации.</li>
            Компания «Офисная мебель АЛЬФА-М» работает только с солидными изготовителями. Наши специалисты оценивают
            качество товара, используемые при производстве технологии, проверяют наличие сертификатов. Гарантийный срок,
            указанный для продукции, подтверждён на 100%.
        </div>
    </div>
</div>