{% extends "base.html" %}

{% block main %}
    {% block main_sidebar %}{% endblock main_sidebar %}
    
    {% block main_content %}
        {% block title %}
        <section class="section mb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="h1-title mb-5">
                            <h1 class="fs-1 text-uppercase">{{ title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock title %}
        {% block content %}{% endblock content %}
    {% endblock main_content %}
{% endblock main %}