{% extends "./base_website.html" %}
{% load static %}
{% load product_tags %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block main %}

<section class="section mb-5">
    <div class="container-fluid">
        <div class="section-title mb-5">
            <h1 class="fs-1 text-uppercase">Офисная мебель в Москве</h1>
        </div>
        <div class="row">
            {% show_categories categories 'col-md-2' %}


        </div>
    </div>
</section>

<section class="section mb-5">
    <div class="container-fluid">
        <div>
            <div class="section-title mb-5">
                <div class="fs-1 text-uppercase">Популярные товары</div>
            </div>
        </div>
        <div>
            <div class="section-title mb-5">
                <div class="fs-1 text-uppercase">Акции</div>
            </div>
        </div>
    </div>
</section>

<section class="section mb-5">
    <div class="container-fluid">
        <div>
            <div class="section-title mb-5">
                <div class="fs-1 text-uppercase">О нас</div>
            </div>
        </div>
        <div class="row">
            {{ description|safe }}
            <div class="col-md-6"><iframe width="80%" height="315" src="https://www.youtube.com/embed/Nkql61ouFAs?si=HRLKRUD99M0i4ewA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        </div>
    </div>
</section>

{% include 'website/inc/_advantages.html' %}

{% endblock main %}