{% load static %}
<section class="section mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="text-center">
                    <div class="mb-3">
                        <img src="{% static 'website/main/1.png' %}" alt="" style="height: 80px;">
                    </div>
                    <div class="fw-semibold">
                        Команда высококлассных специалистов мебельного бизнеса
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="text-center">
                    <div class="mb-3">
                        <img src="{% static 'website/main/4.png' %}" alt="" style="height: 80px;">
                    </div>
                    <div class="fw-semibold">
                        Огромный ассортимент мебели от эконом до VIP-класса
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="text-center">
                    <div class="mb-3">
                        <img src="{% static 'website/main/5.png' %}" alt="" style="height: 80px;">
                    </div>
                    <div class="fw-semibold">
                        Огромный ассортимент мебели от эконом до VIP-класса
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="text-center">
                    <div class="mb-3">
                        <img src="{% static 'website/main/2.png' %}" alt="" style="height: 80px;">
                    </div>
                    <div class="fw-semibold">
                        Профессиональная сборка мебели
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="text-center">
                    <div class="mb-3">
                        <img src="{% static 'website/main/6.png' %}" alt="" style="height: 80px;">
                    </div>
                    <div class="fw-semibold">
                        Срочная доставка офисной мебели
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="text-center">
                    <div class="mb-3">
                        <img src="{% static 'website/main/3.png' %}" alt="" style="height: 80px;">
                    </div>
                    <div class="fw-semibold">
                        10 лет успеха на рынке
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>