{% load static %}
<div class="card text-center border-0 bg-secondary shadow-sm mb-3" style="--bs-bg-opacity: .6;">
    <div class="card-body">
        <h5 class="card-title text-uppercase">Воспользуйтесь нашей БЕСПЛАТНОЙ услугой</h5>
        <div class="mt-2">
            <a href="/klientam/besplatnyj-dizajn-proekt/" class="btn btn-outline-danger text-uppercase">3D дизайн-проект вашего офиса</a>
        </div>
        <div class="mt-2">
            <small class="text-body-secondary">Дизайн-проект позволяет увидеть расположение мебельных единиц не только на виде сверху, но и в проекции 3D.</small>
        </div>
    </div>
</div>
<div class="card text-center border-0 bg-secondary shadow-sm mb-3" style="--bs-bg-opacity: .4;">
    <div class="card-body">
        <h5 class="card-title text-uppercase">Для Вашего удобства воспользуйтесь БЕСПЛАТНОЙ услугой</h5>
        <div class="mt-2">
            <a href="/klientam/vyzov-menedzhera/" class="btn btn-danger text-uppercase">Вызов менеджера</a>
        </div>
        <div class="mt-2">
            <strong>
                <a class="link-danger link-underline link-underline-opacity-0 link-underline-opacity-0-hover" href="/o-kompanii/otzyvy/">Оценка качества работы</a>
            </strong>
        </div>
    </div>
</div>
<div class="card text-center border-0 bg-secondary shadow-sm mb-3" style="--bs-bg-opacity: .2;">
    <div class="card-body">
        <div class="card-text">Узнайте, какие мы предлагаем варианты оплаты, с какими платежными системами работаем.</div>
        <div class="mt-2"><img src="{% static 'website/pay.png' %}" alt="" style="width: 200px;"></div>
        <div class="mt-2">
            <a href="/klientam/usloviya-oplaty/" class="btn btn-danger text-uppercase">Вызов менеджера</a>
        </div>
    </div>
</div>