<li class="btn-group dropend">
    <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown{{forloop.counter}}" aria-expanded="false">
        {{ category.title }}
    </a>
    <ul class="dropdown-menu">
    {% for category in categories %}
        {% if category.childs %}
            {% include 'product/tags/submenu.html' with categories=category.childs %}
        {% else  %}
        <li>
            <a class="dropdown-item" href="{{ category.slug }}" title="{{ category.title }}">
                {{ category.title }}
            </a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</li>