<li class="dropend">
    <a href="{% url 'shop:category' %}{{ category.full_slug }}/" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">
        {% if category.icon %}
        <img src="/media/{{ category.icon }}" class="me-2" alt="{{ category.title }}">
        {% endif %}
        <span>{{ category.title }}</span>
    </a>
    <ul class="dropdown-menu dropdown-submenu shadow" style="width: max-content;">
        <li>
            <a class="dropdown-item" href="{% url 'shop:category' %}{{ category.full_slug }}/" title="{{ category.title }}">
                {{ category.title }}
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        {% for category in categories %}
            {% if category.childs %}
                {% include 'product/tags/top-submenu.html' with categories=category.childs %}
            {% else  %}
            <li>
                <a class="dropdown-item" href="{% url 'shop:category' %}{{ category.full_slug }}/" title="{{ category.title }}">
                    {% if category.icon %}
                    <img src="/media/{{ category.icon }}" class="me-2" alt="{{ category.title }}">
                    {% endif %}
                    <span>{{ category.title }}</span>
                </a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</li>