{% extends "base.html" %}
{% load breadcrumbs %}

{% block breadcrumbs %}
{% breadcrumb_start %}

    {% url 'cart:cart' as cart %}

    {% breadcrumb_home '/' 'Главная' %}
    {% breadcrumb_active cart 'Корзина' 1 %}

{% breadcrumb_end %}
{% endblock breadcrumbs %}


{% block main %}
<section class="section mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% if 1 %}                
                <div class="text-center">
                    <h2>В корзине пока нет товаров</h2>
                    <p>Добавьте товары в корзину, чтобы перейти к оформлению заказа</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% include 'website/inc/_advantages.html' %}

{% endblock main %}