{% extends './base_cart.html' %}
{% load product_menu_tags %}
{% load ecommerce_tags %}


{% block main_sidebar %}
    {% show_sidebar_menu %}
    {% include 'website/inc/_banners.html' %}
{% endblock main_sidebar %}


{% block content %}

{% if request.session.comparison %}

    {% if series %}
    <div class="row mb-3" style="background-color: #F4F4F4;">
        <div class="col py-3">
            <h2>Сравнение серий</h2>
        </div>
    </div>
    <div class="row mb-3">

        {% show_comparison_series series request.path request.session %}
    </div>
    {% endif %}
    
    {% if products %}
    <div class="row mb-3" style="background-color: #F4F4F4;">
        <div class="col py-3">
            <h2>Сравнение товаров</h2>
        </div>
    </div>
    <div class="row mb-3">
        {% show_comparison_products products request.path request.session %}
    </div>
    {% endif %}

{% else %}
<div class="text-center">
    <h2>Нет товаров для сравнения</h2>
    <p>Выберете товары, которые Вы хотите сравнить.</p>
</div>
{% endif %}

{% endblock content %}