{% extends './base_cart.html' %}
{% load cart_product %}


{% block main %}
<section class="section mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% if request.session.cart %}
                {% show_cart_products request.session.cart %}
                {% else %}             
                <div class="text-center">
                    <h2>В корзине пока нет товаров</h2>
                    <p>Добавьте товары в корзину, чтобы перейти к оформлению заказа</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% include 'website/inc/_advantages.html' %}
{% endblock main %}