{% load static %}
{% load menu_tags %}
<div class="footer">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-3">
                <div class="footer_logo mb-3">
                    <a href="{% url 'pages:home' %}" title="{{ site_name }}">
                        <img src="{% static 'website/logo.svg' %}" alt="{{ site_name }}">
                    </a>
                </div>
                <div class="footer_warning-text mb-3">
                    Цены и сведения указанные в интернет-магазине «Офисная мебель АЛЬФА-М» в городе Москва не являются
                    публичной офертой и носят исключительно информационный характер (ст. 437 Гражданского кодекса РФ).
                    Уточнить указанные данные можно по электронной почте или контактному номеру.
                </div>
                <div class="footer_copy mb-3">
                    © 2009-{% now "Y" %} <a href="/">{{ site_name }}</a> - офисная мебель Москва
                </div>
                <div class="footer_sitemap mb-3">
                    <a href="/sitemap/">Карта сайта</a>
                </div>
            </div>
            <div class="col-md-3">
                {% show_footer_menu %}
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <i class="fa-solid fa-city me-2"></i>
                    <span>Бизнес-центр «Тушино» - Москва</span>
                </div>
                {% if address %}
                <div class="mb-3">
                    <i class="fa-solid fa-location-dot me-2"></i>
                    <span>{{ address }}</span>
                </div>
                {% endif %}
                {% if phone1 %}
                <div class="mb-3">
                    <a href="tel:{{ phone1.phone_int }}">
                        <i class="fa-solid fa-phone me-2"></i>
                        {{ phone1.phone_str }}
                    </a>
                </div>
                {% endif %}
                {% if phone2 %}
                <div class="mb-3">
                    <a href="tel:{{ phone2.phone_int }}">
                        <i class="fa-solid fa-phone me-2"></i>
                        {{ phone2.phone_str }}
                    </a>
                </div>
                {% endif %}
                {% if email %}
                <div class="mb-3">
                    <a href="mailto:{{ email }}">
                        <i class="fa-solid fa-envelope me-2"></i>
                        {{ email }}
                    </a>
                </div>
                {% endif %}

                <div class="mb-3">
                    <i class="fa-regular fa-clock me-2"></i>
                    <span>Пн-Пт 9:00 - 18:00</span>
                </div>
                <div class="mb-3">
                    <a href="/politika-konfidencialnosti/">Политика конфиденциальности</a>
                </div>
                <div class="mb-3">
                    <span>Рейтинги</span>
                </div>

            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <div class="info_social">

                        {% if facebook %}
                        <a class="me-2" href="{{ facebook }}">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        {% endif %}
                        {% if twitter %}
                        <a class="me-2" href="{{ twitter }}">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        {% endif %}
                        {% if instagram %}
                        <a class="me-2" href="{{ instagram }}">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        {% endif %}
                        {% if linkedin %}
                        <a class="me-2" href="{{ linkedin }}">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        {% endif %}
                        {% if youtube %}
                        <a class="me-2" href="{{ youtube }}">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        {% endif %}
                        {% if vk %}
                        <a class="me-2" href="{{ vk }}">
                            <i class="fa-brands fa-vk"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="mb-3">
                    {% include '../inc/_modal-callback-btn.html' %}
                </div>
                <div class="mb-3">
                    <div class="btn btn-outline-danger">Задать вопрос</div>
                </div>
                <div class="mb-3">
                    <div>ИНН 7733708887<br>ОГРН 1097746500720</div>
                </div>
                <div class="mb-3">
                    <img src="{% static 'website/pay.png' %}" alt="" style="width: 200px;">
                </div>
            </div>

        </div>
    </div>
</div>