{% load static %}
<div class="header">
    <div class="container-fluid py-3">
        <div class="row align-items-center "> <!--text-center-->
            <div class="col-md-3">
                <div class="logo">
                    <a href="{% url 'pages:home' %}" title="{{ site_name }}">
                        {% if logo %}
                            <img src="{{ logo.url }}" alt="{{ site_name }}">
                        {% else %}
                            {{ site_name }}
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row align-items-center">
                    <div class="col-md-4">

                        {% if phone1 %}
                        <div class="mb-3">
                            <a href="tel:{{ phone1.phone_int }}">
                                <i class="fa-solid fa-phone me-2"></i>
                                <strong>{{ phone1.phone_str }}</strong>
                            </a>
                        </div>
                        {% endif %}
                        {% if email %}
                        <div class="mb-3">
                            <a href="mailto:{{ email }}">
                                <i class="fa-solid fa-envelope me-2"></i>
                                <strong>{{ email }}</strong>
                            </a>
                        </div>
                        {% endif %}

                    </div>
                    <div class="col-md-4">

                        <div class="mb-3">
                            <i class="fa-regular fa-clock me-2"></i>
                            <span>Пн-Пт 9:00 - 18:00</span>
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="mb-3">
                            <i class="fa-solid fa-city me-2"></i>
                            <span>Бизнес-центр «Тушино» - Москва</span>
                        </div>
                        {% if address %}
                        <div class="mb-3">
                            <i class="fa-solid fa-location-dot me-2"></i>
                            <span>{{ address }}</span>
                        </div>
                        {% endif %}

                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-4 mb-3">
                        {% include '../inc/_modal-callback-btn.html' %}
                    </div>
                    <div class="col-md-8 mb-3">
                        <div class="search">
                            <form action="{% url 'shop:search' %}" method="get">
                                <div class="input-group flex-nowrap">
                                    <input type="text"
                                    class="form-control"
                                    aria-label="Поиск"
                                    aria-describedby="addon-wrapping"
                                    name="search"
                                    placeholder="Поиск"
                                    required>
                                    <button class="input-group-text" id="addon-wrapping">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>